@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-done:before {
  content: "\e916"
}
._icon-play:before {
  content: "\e917"
}
._icon-time:before {
  content: "\e918"
}
._icon-favorite:before {
  content: "\e919"
}
._icon-design:before {
  content: "\e91a"
}
._icon-cursor:before {
  content: "\e91b"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #544837;
  line-height: 1;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  font-size: .875rem;
  transition: all .3s ease-in-out
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #2f281e;
  line-height: 1.4
}
.title--margin:not(:last-child) {
  margin-bottom: 1.375rem
}
.title--size-22 {
  font-size: 1.375rem
}
.title--size-24 {
  font-size: 1.5rem;
  line-height: 1.4
}
.head-content--margin:not(:last-child) {
  margin-bottom: 1.875rem
}
.label {
  font-weight: 500
}
.label:not(:last-child) {
  margin-bottom: .625rem
}
.text p {
  font-weight: 500;
  line-height: 1.6;
  color: #544837
}
.text p:not(:last-child) {
  margin-bottom: .9375rem
}
.body-content h3 {
  font-weight: 700;
  line-height: 1.6;
  color: #2f281e
}
.body-content h3:not(:last-child) {
  margin-bottom: .75rem
}
.body-content p {
  font-weight: 500;
  line-height: 1.6;
  color: #544837
}
.body-content p:not(:last-child) {
  margin-bottom: 1.5625rem
}
.button {
  background-color: #f90;
  border-radius: .25rem;
  font-weight: 600;
  padding-top: .6875rem;
  color: #fff;
  padding-bottom: .6875rem;
  transition: all .3s ease-in-out
}
.button--w-175 {
  padding: .9375rem 2.0625rem .875rem
}
.button--w-130 {
  padding: .6875rem .8125rem;
  line-height: 1.07
}
.button--border {
  background-color: #fff;
  border: .0625rem solid #bcd0e5;
  color: #173a56
}
.button--w-216 {
  padding: .9375rem 2.0625rem
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff
}
.header__container {
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 2
}
.header__body {
  display: flex;
  align-items: center
}
.header__user {
  display: flex;
  gap: .875rem;
  position: relative;
  z-index: 2
}
.footer__container {
  border-top: .0625rem solid rgba(188,208,229,.5);
  border-radius: .25rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 2.5rem
}
.footer__logo {
  flex: 1 1 23.541%;
  padding-right: 1.875rem;
  transition: all .3s
}
.item-footer {
  flex: 1 1 23.541%;
  padding-right: 1.875rem
}
.form-footer__title,
.item-footer__title {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #2f281e
}
.form-footer__title:not(:last-child),
.item-footer__title:not(:last-child) {
  margin-bottom: 2.1875rem
}
.item-footer__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.item-footer__link {
  transition: all .3s ease-in-out
}
.form-footer__input {
  height: 3rem;
  border: .0625rem solid #bcd0e5;
  border-radius: .25rem;
  padding-left: .9375rem
}
.form-footer__input::-webkit-input-placeholder {
  color: #bcd0e5
}
.form-footer__input:-ms-input-placeholder {
  color: #bcd0e5
}
.form-footer__input::-ms-input-placeholder {
  color: #bcd0e5
}
.form-footer__input::placeholder {
  color: #bcd0e5
}
.form-footer__input:not(:last-child) {
  margin-bottom: 1.3125rem
}
.tools {
  background: url(../img/decor-section.svg) center/cover no-repeat
}
.tools__container {
  display: flex;
  flex-direction: column
}
.tools__title {
  text-align: center;
  line-height: 1.4;
  text-wrap: balance
}
.tools__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  row-gap: 1.875rem
}
.tools__items:not(:last-child) {
  margin-bottom: 2.125rem
}
.tools__item {
  display: grid
}
.item-tools__icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.1875rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center
}
.item-tools__icon::before {
  color: #fff
}
.item-tools__title:not(:last-child) {
  margin-bottom: .8125rem
}
.item-tools__text p:not(:last-child) {
  margin-bottom: .625rem
}
.item-tools__button {
  align-self: center
}
.profession__container {
  display: flex
}
.profession__items {
  flex: 1 1 50%
}
.profession__image {
  flex: 0 1 50%;
  width: 100%
}
.profession .list-body__item {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  font-weight: 500;
  line-height: 1.6
}
.profession .list-body__item:not(:last-child) {
  margin-bottom: 1.875rem
}
.profession .list-body__item::before {
  flex: 0 0 2.1875rem;
  height: 2.1875rem;
  border-radius: .8125rem;
  background-color: #f90;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: .75rem
}
.need-help {
  background: url(../img/dg-decor_big.svg) center/contain no-repeat
}
.need-help__container {
  display: flex;
  justify-content: center;
  position: relative
}
.head-content {
  text-align: center
}
.text p {
  color: #567592
}
.text p:not(:last-child) {
  margin-bottom: .9375rem
}
.avatars__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.avatars__comment {
  position: absolute;
  bottom: 88%;
  right: 60%;
  background-color: #fff;
  padding-right: .3125rem;
  padding-left: .3125rem;
  border-radius: 1.6875rem;
  min-width: 20.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.3125rem
}
.avatars__circle {
  position: absolute;
  bottom: 81%;
  right: 90%;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  background-color: #fff
}
.avatars__circle--small {
  position: absolute;
  bottom: 70%;
  right: 77%;
  width: .5625rem;
  height: .5625rem
}
.avatars__img {
  position: relative
}
.avatars__img--left .avatars__comment {
  bottom: 88%;
  left: 60%
}
.avatars__img--left .avatars__circle {
  bottom: 81%;
  left: 90%
}
.avatars__img--left .avatars__circle--small {
  bottom: 70%;
  left: 77%
}
.hero__container {
  display: flex
}
.hero__title {
  font-size: 2.75rem;
  line-height: 1.2
}
.hero__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.hero__text:not(:last-child) {
  margin-bottom: 2.8125rem
}
.hero__text p {
  font-size: 1.125rem;
  line-height: 1.5
}
.hero__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.hero__button {
  display: flex;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem
}
.hero__watch-button {
  display: flex;
  gap: .625rem;
  color: #f90;
  transition: all .3s ease-in-out
}
.hero__watch-button span {
  font-weight: 600;
  text-decoration: underline
}
.hero__watch-button::before {
  color: #f90
}
.hero__image {
  flex-basis: 53.75%
}
.hero__image img {
  width: 100%;
  aspect-ratio: 602/495
}
@media (min-width:47.99875em) {
  .form-footer {
    flex-basis: 29.375%
  }
}
@media (min-width:50.68625em) {
  .hero__content {
    flex-grow: 1;
    flex-basis: 46.517%
  }
}
@media (min-width:50.68625em) and (min-width:70em) {
  .hero__content {
    padding-top: 5.1875rem
  }
  .hero__content:not(:last-child) {
    padding-right: 3.5625rem
  }
}
@media (min-width:59.49875em) {
  .item-footer:last-child,
  .item-footer:nth-child(4n) {
    padding-right: 0;
    flex: 1 1 29.375%
  }
}
@media (min-width:61.99875em) {
  .profession--revers .profession__items {
    align-self: center
  }
  .profession__items {
    align-self: flex-end;
    flex: 1 1 100%
  }
}
@media (min-width:71.875em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .header__container {
    min-height: 4.875rem
  }
  .header__logo {
    width: 11.6875rem
  }
  .form-footer__title {
    margin-right: 2.8125rem
  }
  .page__hero {
    margin-top: 8.625rem
  }
  .page__hero {
    margin-bottom: 6.875rem
  }
  .page__tools {
    margin-bottom: 7.375rem
  }
  .page__profession {
    margin-bottom: 6.5rem
  }
  .page__need-help {
    margin-bottom: 6.5625rem
  }
  .tools {
    padding-bottom: 5.625rem
  }
  .tools__title {
    font-size: 2.25rem
  }
  .tools__title:not(:last-child) {
    margin-bottom: 3.375rem
  }
  .tools__items {
    -webkit-column-gap: 2.875rem;
    -moz-column-gap: 2.875rem;
    column-gap: 2.875rem
  }
  .item-tools__icon:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .item-tools__title {
    font-size: 1.375rem
  }
  .profession__container {
    -webkit-column-gap: 6.5rem;
    -moz-column-gap: 6.5rem;
    column-gap: 6.5rem
  }
  .need-help__container {
    padding-top: 14.375rem
  }
  .need-help__container {
    padding-bottom: 23.6875rem
  }
  .text:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .hero__title {
    font-size: 2.75rem
  }
  .hero__button {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (min-width:70em) {
  .button {
    padding-left: 1.5rem
  }
  .button {
    padding-right: 1.5rem
  }
  .header__container {
    -webkit-column-gap: 3.25rem;
    -moz-column-gap: 3.25rem;
    column-gap: 3.25rem
  }
  .header__body {
    -webkit-column-gap: 3.25rem;
    -moz-column-gap: 3.25rem;
    column-gap: 3.25rem
  }
  .footer__container {
    padding-top: 6.375rem
  }
  .footer__container {
    padding-bottom: 5.9375rem
  }
}
@media (max-width:20em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .header__container {
    min-height: 3.75rem
  }
  .header__logo {
    width: 9.375rem
  }
  .form-footer__title {
    margin-right: .9375rem
  }
  .page__hero {
    margin-top: 6.25rem
  }
  .page__hero {
    margin-bottom: 2.5rem
  }
  .page__tools {
    margin-bottom: 2.5rem
  }
  .page__profession {
    margin-bottom: 2.5rem
  }
  .page__need-help {
    margin-bottom: 2.5rem
  }
  .tools {
    padding-bottom: .9375rem
  }
  .tools__title {
    font-size: 1.75rem
  }
  .tools__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .tools__items {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .item-tools__icon:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .item-tools__title {
    font-size: 1.25rem
  }
  .profession__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .need-help__container {
    padding-top: 2.5rem
  }
  .need-help__container {
    padding-bottom: 2.5rem
  }
  .text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__button {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (max-width:61.99875em) {
  .header__body {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .profession--revers .profession__container {
    flex-direction: column-reverse;
    align-items: center
  }
  .profession__container {
    flex-direction: column;
    row-gap: 3.125rem;
    align-items: center
  }
}
@media (max-width:59.49875em) {
  .footer__logo {
    flex: 1 1 33.333%
  }
  .item-footer {
    flex: 1 1 33.333%
  }
  .item-footer:last-child,
  .item-footer:nth-child(3n) {
    padding-right: 0
  }
}
@media (max-width:50.68625em) {
  .hero__container {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .hero__title {
    text-align: center
  }
  .hero__text {
    text-align: center
  }
  .hero__button {
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .menu {
    display: block
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #ece9e9
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.0625rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #fff
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
    font-weight: 500
  }
  .menu__link {
    font-size: 1.875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .header__body {
    justify-content: space-between
  }
  .header__user {
    margin-left: -.9375rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .footer__container {
    padding-bottom: 1.875rem
  }
}
@media (max-width:47.99875em) and (max-width:29.99875em) {
  .menu__body {
    padding: 4.375rem .9375rem .9375rem 1.875rem
  }
  .menu__body::before {
    height: 7.8125rem;
    border-bottom: .0625rem solid rgba(102,102,102,.4)
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:42.56125em) {
  .footer__logo {
    flex: 1 1 50%
  }
  .item-footer {
    flex: 1 1 50%
  }
  .item-footer:last-child,
  .item-footer:nth-child(2n) {
    padding-right: 0
  }
}
@media (max-width:34.37375em) {
  .tools__items {
    justify-content: center
  }
  .tools__item {
    justify-items: center
  }
  .item-tools__title {
    text-align: center
  }
  .item-tools__text {
    text-align: center
  }
}
@media (max-width:29.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 2.5rem;
    padding-left: .9375rem
  }
  .menu__list {
    align-items: flex-end
  }
  .button {
    padding-left: 1.25rem
  }
  .button {
    padding-right: 1.25rem
  }
  .header__user {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    width: 100%
  }
  .header__user button {
    flex: 1
  }
  .button--border-right {
    position: relative
  }
  .button--border-right::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% + 1.25rem);
    display: block;
    width: .125rem;
    height: 100%;
    background-color: rgba(51,51,51,.4)
  }
  .profession__items {
    text-align: center
  }
}
@media (max-width:25.93625em) {
  .tools__title br {
    display: none
  }
}
@media (max-width:23.74875em) {
  .form-footer button {
    width: 100%
  }
  .item-tools__button {
    width: 100%
  }
}
@media (max-width:23.62375em) {
  .hero__button button {
    flex: 1 1 100%
  }
}
@media (min-width:20em) and (max-width:71.875em) {
  @supports ((-moz-column-gap:clamp(0.625rem ,0.2635542169rem + 1.8072289157vw ,1.5625rem)) or (column-gap:clamp(0.625rem ,0.2635542169rem + 1.8072289157vw ,1.5625rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.625rem ,.2635542169rem + 1.8072289157vw ,1.5625rem);
      -moz-column-gap: clamp(.625rem ,.2635542169rem + 1.8072289157vw ,1.5625rem);
      column-gap: clamp(.625rem ,.2635542169rem + 1.8072289157vw ,1.5625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,0.2635542169rem + 1.8072289157vw ,1.5625rem)) or (column-gap:clamp(0.625rem ,0.2635542169rem + 1.8072289157vw ,1.5625rem))) {
    .menu__list {
      -webkit-column-gap: calc(.625rem + .9375 * (100vw - 20rem)/ 51.875);
      -moz-column-gap: calc(.625rem + .9375 * (100vw - 20rem)/ 51.875);
      column-gap: calc(.625rem + .9375 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (min-height:clamp(3.75rem ,3.3162650602rem + 2.1686746988vw ,4.875rem)) {
    .header__container {
      min-height: clamp(3.75rem ,3.3162650602rem + 2.1686746988vw ,4.875rem)
    }
  }
  @supports not (min-height:clamp(3.75rem ,3.3162650602rem + 2.1686746988vw ,4.875rem)) {
    .header__container {
      min-height: calc(3.75rem + 1.125 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (width:clamp(9.375rem ,8.4834337349rem + 4.4578313253vw ,11.6875rem)) {
    .header__logo {
      width: clamp(9.375rem ,8.4834337349rem + 4.4578313253vw ,11.6875rem)
    }
  }
  @supports not (width:clamp(9.375rem ,8.4834337349rem + 4.4578313253vw ,11.6875rem)) {
    .header__logo {
      width: calc(9.375rem + 2.3125 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-right:clamp(0.9375rem ,0.2146084337rem + 3.6144578313vw ,2.8125rem)) {
    .form-footer__title {
      margin-right: clamp(.9375rem ,.2146084337rem + 3.6144578313vw ,2.8125rem)
    }
  }
  @supports not (margin-right:clamp(0.9375rem ,0.2146084337rem + 3.6144578313vw ,2.8125rem)) {
    .form-footer__title {
      margin-right: calc(.9375rem + 1.875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-top:clamp(6.25rem ,5.3343373494rem + 4.578313253vw ,8.625rem)) {
    .page__hero {
      margin-top: clamp(6.25rem ,5.3343373494rem + 4.578313253vw ,8.625rem)
    }
  }
  @supports not (margin-top:clamp(6.25rem ,5.3343373494rem + 4.578313253vw ,8.625rem)) {
    .page__hero {
      margin-top: calc(6.25rem + 2.375 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.813253012rem + 8.4337349398vw ,6.875rem)) {
    .page__hero {
      margin-bottom: clamp(2.5rem ,.813253012rem + 8.4337349398vw ,6.875rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.813253012rem + 8.4337349398vw ,6.875rem)) {
    .page__hero {
      margin-bottom: calc(2.5rem + 4.375 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.6204819277rem + 9.3975903614vw ,7.375rem)) {
    .page__tools {
      margin-bottom: clamp(2.5rem ,.6204819277rem + 9.3975903614vw ,7.375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.6204819277rem + 9.3975903614vw ,7.375rem)) {
    .page__tools {
      margin-bottom: calc(2.5rem + 4.875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.9578313253rem + 7.7108433735vw ,6.5rem)) {
    .page__profession {
      margin-bottom: clamp(2.5rem ,.9578313253rem + 7.7108433735vw ,6.5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.9578313253rem + 7.7108433735vw ,6.5rem)) {
    .page__profession {
      margin-bottom: calc(2.5rem + 4 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.9337349398rem + 7.8313253012vw ,6.5625rem)) {
    .page__need-help {
      margin-bottom: clamp(2.5rem ,.9337349398rem + 7.8313253012vw ,6.5625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.9337349398rem + 7.8313253012vw ,6.5625rem)) {
    .page__need-help {
      margin-bottom: calc(2.5rem + 4.0625 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,-0.8697289157rem + 9.0361445783vw ,5.625rem)) {
    .tools {
      padding-bottom: clamp(.9375rem ,-.8697289157rem + 9.0361445783vw ,5.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,-0.8697289157rem + 9.0361445783vw ,5.625rem)) {
    .tools {
      padding-bottom: calc(.9375rem + 4.6875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.5572289157rem + 0.9638554217vw ,2.25rem)) {
    .tools__title {
      font-size: clamp(1.75rem ,1.5572289157rem + .9638554217vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.5572289157rem + 0.9638554217vw ,2.25rem)) {
    .tools__title {
      font-size: calc(1.75rem + .5 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.296686747rem + 2.8915662651vw ,3.375rem)) {
    .tools__title:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.296686747rem + 2.8915662651vw ,3.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.296686747rem + 2.8915662651vw ,3.375rem)) {
    .tools__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.5 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports ((-moz-column-gap:clamp(1rem ,0.2771084337rem + 3.6144578313vw ,2.875rem)) or (column-gap:clamp(1rem ,0.2771084337rem + 3.6144578313vw ,2.875rem))) {
    .tools__items {
      -webkit-column-gap: clamp(1rem ,.2771084337rem + 3.6144578313vw ,2.875rem);
      -moz-column-gap: clamp(1rem ,.2771084337rem + 3.6144578313vw ,2.875rem);
      column-gap: clamp(1rem ,.2771084337rem + 3.6144578313vw ,2.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1rem ,0.2771084337rem + 3.6144578313vw ,2.875rem)) or (column-gap:clamp(1rem ,0.2771084337rem + 3.6144578313vw ,2.875rem))) {
    .tools__items {
      -webkit-column-gap: calc(1rem + 1.875 * (100vw - 20rem)/ 51.875);
      -moz-column-gap: calc(1rem + 1.875 * (100vw - 20rem)/ 51.875);
      column-gap: calc(1rem + 1.875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,1.0090361446rem + 1.2048192771vw ,1.875rem)) {
    .item-tools__icon:not(:last-child) {
      margin-bottom: clamp(1.25rem ,1.0090361446rem + 1.2048192771vw ,1.875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,1.0090361446rem + 1.2048192771vw ,1.875rem)) {
    .item-tools__icon:not(:last-child) {
      margin-bottom: calc(1.25rem + .625 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.2018072289rem + 0.2409638554vw ,1.375rem)) {
    .item-tools__title {
      font-size: clamp(1.25rem ,1.2018072289rem + .2409638554vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.2018072289rem + 0.2409638554vw ,1.375rem)) {
    .item-tools__title {
      font-size: calc(1.25rem + .125 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,0.0918674699rem + 8.9156626506vw ,6.5rem)) or (column-gap:clamp(1.875rem ,0.0918674699rem + 8.9156626506vw ,6.5rem))) {
    .profession__container {
      -webkit-column-gap: clamp(1.875rem ,.0918674699rem + 8.9156626506vw ,6.5rem);
      -moz-column-gap: clamp(1.875rem ,.0918674699rem + 8.9156626506vw ,6.5rem);
      column-gap: clamp(1.875rem ,.0918674699rem + 8.9156626506vw ,6.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,0.0918674699rem + 8.9156626506vw ,6.5rem)) or (column-gap:clamp(1.875rem ,0.0918674699rem + 8.9156626506vw ,6.5rem))) {
    .profession__container {
      -webkit-column-gap: calc(1.875rem + 4.625 * (100vw - 20rem)/ 51.875);
      -moz-column-gap: calc(1.875rem + 4.625 * (100vw - 20rem)/ 51.875);
      column-gap: calc(1.875rem + 4.625 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (padding-top:clamp(2.5rem ,-2.078313253rem + 22.8915662651vw ,14.375rem)) {
    .need-help__container {
      padding-top: clamp(2.5rem ,-2.078313253rem + 22.8915662651vw ,14.375rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,-2.078313253rem + 22.8915662651vw ,14.375rem)) {
    .need-help__container {
      padding-top: calc(2.5rem + 11.875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,-5.6686746988rem + 40.843373494vw ,23.6875rem)) {
    .need-help__container {
      padding-bottom: clamp(2.5rem ,-5.6686746988rem + 40.843373494vw ,23.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,-5.6686746988rem + 40.843373494vw ,23.6875rem)) {
    .need-help__container {
      padding-bottom: calc(2.5rem + 21.1875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.0805722892rem + 2.4096385542vw ,2.8125rem)) {
    .text:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,1.0805722892rem + 2.4096385542vw ,2.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.0805722892rem + 2.4096385542vw ,2.8125rem)) {
    .text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(2.25rem ,2.0572289157rem + 0.9638554217vw ,2.75rem)) {
    .hero__title {
      font-size: clamp(2.25rem ,2.0572289157rem + .9638554217vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,2.0572289157rem + 0.9638554217vw ,2.75rem)) {
    .hero__title {
      font-size: calc(2.25rem + .5 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.5760542169rem + 1.8072289157vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5760542169rem + 1.8072289157vw ,1.875rem))) {
    .hero__button {
      -webkit-column-gap: clamp(.9375rem ,.5760542169rem + 1.8072289157vw ,1.875rem);
      -moz-column-gap: clamp(.9375rem ,.5760542169rem + 1.8072289157vw ,1.875rem);
      column-gap: clamp(.9375rem ,.5760542169rem + 1.8072289157vw ,1.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.5760542169rem + 1.8072289157vw ,1.875rem)) or (column-gap:clamp(0.9375rem ,0.5760542169rem + 1.8072289157vw ,1.875rem))) {
    .hero__button {
      -webkit-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.875);
      -moz-column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.875);
      column-gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 51.875)
    }
  }
}
@media (min-width:29.99875em) and (max-width:70em) {
  @supports (padding-left:clamp(1.25rem ,1.0625136714rem + 0.6249804694vw ,1.5rem)) {
    .button {
      padding-left: clamp(1.25rem ,1.0625136714rem + .6249804694vw ,1.5rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.0625136714rem + 0.6249804694vw ,1.5rem)) {
    .button {
      padding-left: calc(1.25rem + .25 * (100vw - 29.99875rem)/ 40.00125)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.0625136714rem + 0.6249804694vw ,1.5rem)) {
    .button {
      padding-right: clamp(1.25rem ,1.0625136714rem + .6249804694vw ,1.5rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.0625136714rem + 0.6249804694vw ,1.5rem)) {
    .button {
      padding-right: calc(1.25rem + .25 * (100vw - 29.99875rem)/ 40.00125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:70em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem)) or (column-gap:clamp(0.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem))) {
    .header__container {
      -webkit-column-gap: clamp(.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem);
      -moz-column-gap: clamp(.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem);
      column-gap: clamp(.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem)) or (column-gap:clamp(0.9375rem ,-4.1075365036rem + 10.5107664337vw ,3.25rem))) {
    .header__container {
      -webkit-column-gap: calc(.9375rem + 2.3125 * (100vw - 47.99875rem)/ 22.00125);
      -moz-column-gap: calc(.9375rem + 2.3125 * (100vw - 47.99875rem)/ 22.00125);
      column-gap: calc(.9375rem + 2.3125 * (100vw - 47.99875rem)/ 22.00125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-7.9423683313rem + 20.4533833305vw ,6.375rem)) {
    .footer__container {
      padding-top: clamp(1.875rem ,-7.9423683313rem + 20.4533833305vw ,6.375rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-7.9423683313rem + 20.4533833305vw ,6.375rem)) {
    .footer__container {
      padding-top: calc(1.875rem + 4.5 * (100vw - 47.99875rem)/ 22.00125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,-6.9879019658rem + 18.4648599511vw ,5.9375rem)) {
    .footer__container {
      padding-bottom: clamp(1.875rem ,-6.9879019658rem + 18.4648599511vw ,5.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,-6.9879019658rem + 18.4648599511vw ,5.9375rem)) {
    .footer__container {
      padding-bottom: calc(1.875rem + 4.0625 * (100vw - 47.99875rem)/ 22.00125)
    }
  }
}
@media (min-width:61.99875em) and (max-width:70em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem)) or (column-gap:clamp(0.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem))) {
    .header__body {
      -webkit-column-gap: clamp(.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem);
      -moz-column-gap: clamp(.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem);
      column-gap: clamp(.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem)) or (column-gap:clamp(0.9375rem ,-16.9812138728rem + 28.901734104vw ,3.25rem))) {
    .header__body {
      -webkit-column-gap: calc(.9375rem + 2.3125 * (100vw - 61.99875rem)/ 8.00125);
      -moz-column-gap: calc(.9375rem + 2.3125 * (100vw - 61.99875rem)/ 8.00125);
      column-gap: calc(.9375rem + 2.3125 * (100vw - 61.99875rem)/ 8.00125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:61.99875em) {
  .profession__image {
    width: 90%
  }
}
@media (min-width:50.68625em) and (min-width:47.99875em) and (max-width:70em) {
  @supports (padding-top:clamp(0.0000000625rem ,-11.3172438498rem + 23.5782054997vw ,5.1875rem)) {
    .hero__content {
      padding-top: clamp(.0000000625rem ,-11.3172438498rem + 23.5782054997vw ,5.1875rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-11.3172438498rem + 23.5782054997vw ,5.1875rem)) {
    .hero__content {
      padding-top: calc(.0000000625rem + 5.1874999375 * (100vw - 47.99875rem)/ 22.00125)
    }
  }
}
@media (min-width:50.68625em) and (max-width:47.99875em) {
  .hero__content {
    padding-top: .0000000625rem
  }
}
@media (min-width:50.68625em) and (min-width:61.99875em) and (max-width:70em) {
  @supports (padding-right:clamp(0.9375rem ,-19.4026616935rem + 32.8073738478vw ,3.5625rem)) {
    .hero__content:not(:last-child) {
      padding-right: clamp(.9375rem ,-19.4026616935rem + 32.8073738478vw ,3.5625rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,-19.4026616935rem + 32.8073738478vw ,3.5625rem)) {
    .hero__content:not(:last-child) {
      padding-right: calc(.9375rem + 2.625 * (100vw - 61.99875rem)/ 8.00125)
    }
  }
}
@media (min-width:50.68625em) and (max-width:61.99875em) {
  .hero__content:not(:last-child) {
    padding-right: .9375rem
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #f90
  }
  .button:hover {
    background-color: #fff;
    color: #f90
  }
  .button--border:hover {
    border-color: #173a56;
    background-color: #173a56;
    color: #fff
  }
  .footer__logo:hover {
    box-shadow: .0625rem .0625rem .1875rem 0 rgba(102,102,102,.3);
    border-radius: .25rem
  }
  .item-footer__link:hover {
    color: #f90
  }
  .hero__watch-button:hover span {
    text-decoration: none
  }
}